<!DOCTYPE html>
<html lang="en">
<head>
    <link href="styles.css" rel="stylesheet" type = "text/css">
    <title>Cryproperty</title>
</head>
<body>
    <header id="showcase">
        <h1>Cryproperty</h1>
        <h3>Trade Real Estate</h3>
        <div>
            <a href="/user/loginpage" class="button">Login</a>
            <a href="/user/registerpage" class="button">Register</a>
        </div>
    </header>
</body>
</html>